
body{
  font-family: 'Lato', sans-serif;
}

[class*="col-"]{
  min-height: 50px;
  border: solid 1px #000;
}

ul {
  list-style-type: none;
}

a {
    color: #78BBFF;
}

.navbar-default {
  background-color: white;
  border: 0px;
  padding-top: 20px;
}

.navbar-header img{
  width: 100px;
}

.navbar-right li:last-child{
  border: 1px solid blue;
  border-radius: 5px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-right li:last-child a{
  color: blue;
}

.navbar-brand {
  padding: 5px 10px;
  margin-right: 50px;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 10px;
}

.jumbotron{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  margin-bottom: 0;
}

.bggrey{
  background-color: #f3f5f9;
}

.bgblue{
  background-color: #3372B4;
}

.ms_margintb{
  margin: 40px 0;
}

.bgwhite{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px
}

.jumbotron h1, .jumbotron p{
  color: white;
}

.jumbotron h3{
  text-align: center;
}

.ms_titleform span{
  color: blue;
}

.caption{
  padding: 3px;
}

div.caption a{
  color: blue;
  text-decoration: underline;
}

.tac{
  text-align: center;
}

.abtn{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
}

.abtn a{
  color: black;
}

.abtn a img{
  width: 19px;
  margin-right: 82px;
}

div.blue{
  background-color: blue;
}

div.blue a{
  color: white;
}

input, .bgwhite div {
  margin-bottom: 9px;
}

.ms_bordedleft li{
  border-left: 1px solid grey;
  padding: 5px;
  font-size: 17px;
}

.ms_carousel img{
  max-width: 60%;
}

.ms_btn{
  color: #333;
  background-color: #f3f5f9;
  font-size: 30px;
}

.bluedot{
  color: #0069FF;
}

a i.fa-circle{
  padding: 0 2px;
  font-size: 8px;
}

div.bgblue h2{
  color: white;
}

.divlist{
  border-bottom: 1px solid white;
}

div.divlist span, div.divlist a{
  line-height: 50px;
  margin: auto 0;
  padding: 10px;
}

.bgwhite2{
  display: inline-block;
  background-color: white;
  padding: 0 10px;
}

.bgwhite2 img{
  margin-top: 40px;
  margin-bottom: 10px;
}

.ms_btn2 span.glyphicon {
  color: #333;
  background-color: #f3f5f9;
  font-size: 30px;
  position: relative;
  top: -60px;
}

.fixa{
  margin-top: 20px;
  margin-bottom: 40px;
}

.getstarted button{
  color: #78BBFF;
}
